<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasHalamanawal"
        tools:targetApi="31">
        <activity
            android:name=".RecipeMenuActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ItemClassOnline2"
            android:exported="false" />
        <activity android:name=".RecipeDetailActivity" />
        <activity
            android:name=".ProfilUser"
            android:exported="false" />
        <activity
            android:name=".LokasiActivity"
            android:exported="true" />
        <activity
            android:name=".DataBulking"
            android:exported="false" /> <!-- Aktivitas lainnya -->
        <activity
            android:name=".DataDiet"
            android:exported="true" />
        <activity android:name=".KalkulatorActivity"
            android:exported="false"/>
        <activity android:name=".misiHarian"
            android:exported="false"/>
        <activity android:name=".DetailBulking"
            android:exported="false"/>

        <activity
            android:name=".EdiProfilActivity"
            android:exported="false" />
        <activity
            android:name=".Bulking"
            android:exported="false" />
        <activity
            android:name=".Diet_under90kg"
            android:exported="false" />
        <activity
            android:name=".Diet_up90kg"
            android:exported="false" />
        <activity
            android:name=".moza_cute"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".NearestGYM"
            android:exported="false" />
        <activity
            android:name=".NutriChat"
            android:exported="false" /> <!-- Login sebagai halaman awal -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity tanpa intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>